.socialCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  color: white;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
  gap: 20px;
}

.bright-placeholder::placeholder {
  color: #888; /* Adjust this value to make the placeholder text brighter */
  opacity: 1; /* Firefox requires this to be set explicitly */
  font-weight: 800;
}
